body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    min-height: 100vh;
    background: #f3f3f3;
    flex-direction: column;
}
h1{
    text-align: center;
    color: violet; 
    font-family: cinzel;
}  
h2{
    text-align: center;
}
.go{ 
  background-color: #f1f8f6;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(163, 0, 0, 0.267);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}
label{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #000000;
    font-weight: bold;
    
}
input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button{
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    background-color: #3842d3;
    width: 100%;
    font-size: 16px;
    
}
.hg{
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: none;
    color:  rgb(0, 0, 0);
    background-color: #ffffff;
    width: 100%;
    font-size: 16px;
}
.hi{
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: none;
    color: white;
    background-color: #6fff6a;
    width: 100%;
    font-size: 16px;
}
.hg{
    background-color: #ffffff;
    border: none;
    display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
     font-family:Georgia, 'Times New Roman', Times, serif;
}
.gap{
     border: none;
     width: 430px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
